.img-container {
    padding: 20px;
    width: 100%;
    border: 1px solid green;
    min-height: 290px;
}

div.card-title, div.card-subtitle, div.card-text {
    margin-bottom: 20px;
}

div.card-title {
    text-overflow: ellipsis;
    border: 1px solid pink;
    overflow: hidden;
    white-space: nowrap;
}




